.mainNav {
    background-color: #B1D410;
}
#janeCatalog h2 {
    background-color: #CDE074;
}
#janeNoticeInfo h2 {
    background-color: #CDE074;
}
#janeBrandTab{
    background-color: #CDE074;
}
#footer{
    background-color: #B1D410;
}