.mainNav{
    background-color: #4A4A4A;
}
#janeCatalog h2{
    background-color: #6E6E6E;
}
#janeNoticeInfo h2 {
    background-color: #6E6E6E;
}
#janeBrandTab{
    background-color: #6E6E6E;
}
#footer{
    background-color: #4A4A4A;
}