.mainNav {
    background-color: #E44072;
}
#janeCatalog h2 {
    background-color: #F296B2;
}
#janeNoticeInfo h2 {
    background-color: #F296B2;
}
#janeBrandTab{
    background-color: #F296B2;
}
#footer{
    background-color: #E44072;
}