.mainNav {
    background-color: #BE46D8;
}
#janeCatalog h2 {
    background-color: #D49AE1;
}
#janeNoticeInfo h2 {
     background-color: #D49AE1;
}
#janeBrandTab{
    background-color: #D49AE1;
}
#footer{
    background-color: #BE46D8;
}